{% load static %}
<div class="row">
    <div class="col-2">
        <h1>Make Your Lifie <br> Easy With Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Magnam, quo culpa temporibus maxime accusantium dignissimos adipisci eligendi doloremque illo quaerat assumenda voluptas laborum sunt. Alias voluptatibus dolorum dolor dolores voluptates?</p>
        <a href="#" class="btn"> Explore Now &#8594;</a>

    </div>
    <div class="col-2">
        <img src="{% static 'home/images/hero.jpg' %}" alt="">
    </div>
</div>