<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'home/css/homes.css' %}">

    <!-- ----- font-asesome------------- -->
     <!-- font-aswome cdn -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <script src="https://kit.fontawesome.com/ddee993d4e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- nav-bar code start -->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'home/images/logo.png' %}" alt="" width="125px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="{% url 'home:home' %}">Home</a></li>
                        <li><a href="{% url 'home:all_products' %}">Products</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'customer:customer' %}">profile</a></li>
                            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'accounts:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        <a href="{% url 'home:cart_details' %}"><img src="{% static 'home/images/cart.png' %}" alt="" width="30px" height="30px">
                            {% if chart_item_quetity %}
                                ({{chart_item_quetity}})
                            {% endif %}
                        </a>   
                    {% endif %}
                    <img src="{% static 'home/images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
                </nav>
            </div>
            {% block heor %}
               
            {% endblock heor %}
        </div>
    </div>

    {% block body %}

        
    {% endblock body %}


<div class="footer">
    <div class="container">

        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
            <div class="footer-col-2">
                <img src="{% static 'home/images/logo-white.png' %}" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright-2023 RED-STORE </p>
    </div>
</div>

<!-- js for toggle menu -->
<script>
    var MenuItems = document.getElementById("MenuItems");

    function menutoggle(){
        if (MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight = "200px";
        }
        else{
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>
    
</body>
</html>