{% extends 'home_base/home_base.html' %}
{% load static %}

{% block title %}{% endblock title %}


{% block body %}
{% block hero %}
    {% include "home_base/heor.html" %}
{% endblock hero %}


<!-- --------------featured product------------ -->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        {% if featured_product %}
                {% for product in featured_product %}
                <a href="{% url 'home:product_details' product.id %}">
                    <div class="col-4">
                        <img src="{{product.main_image.url}}" alt="">
                        <h4> {{product.product_name}} ({{product.unit}}) </h4>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>$ {{product.product_price}} (-{{product.discount}}%) </p>
                        <a href="" class="btn"> Add To Cart</a>
                    </div>
                </a>
                
                {% endfor %} 
            {% endif %} 
    </div>
    <!-- -------------recent product --------- -->
    <h2 class="title">Recent Products</h2>
    
        <div class="row">
            {% if recent_product %}
            {% for product in recent_product %}
                <a href="{% url 'home:product_details' product.id %}">
                    <div class="col-4">
                        <img src="{{product.main_image.url}}" alt="">
                        <h4> {{product.product_name}} ({{product.unit}}) </h4>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>$ {{product.product_price}} (-{{product.discount}}%) </p>
                        <a href="" class="btn"> Add To Cart</a>
                    </div>
                </a>
            {% endfor %}
        {% endif %} 
            
        
        </div>
</div> 


{% comment %} <!-- ------------- offer ---------- -->
<div class="offer">
<div class="small-container">
    <div class="row">
        <div class="col-2">
            <img class="offer-img" src="images/exclusive.png" alt="">
        </div>
        <div class="col-2">
            <p>Exclusively Available on Red Store</p>
            <h1>Smart Band 4</h1>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ab amet nisi totam soluta ea nobis, iure nam blanditiis maiores pariatur nihil quod aperiam dolores molestias, enim dignissimos. Fugiat, autem.</small>
            <a href="#" class="btn">Buy Now &#8594;</a>
        </div>
    </div>
</div>
</div> {% endcomment %}

<!-- -----------testimonial--------- -->
<div class="testimonial">
<div class="small-container">
    <div class="row">

        <div class="col-3">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis ratione at ipsum in, vero necessitatibus ad autem consequuntur, explicabo ab, adipisci labore aliquid facilis nihil aliquam repellat quae aperiam sit!</p>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <img src="{% static 'home/images/user-1.png' %}" alt="">
            <h3>Mark Atto</h3>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis ratione at ipsum in, vero necessitatibus ad autem consequuntur, explicabo ab, adipisci labore aliquid facilis nihil aliquam repellat quae aperiam sit!</p>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <img src="{% static 'home/images/user-2.png' %}" alt="">
            <h3>Mark Atto</h3>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis ratione at ipsum in, vero necessitatibus ad autem consequuntur, explicabo ab, adipisci labore aliquid facilis nihil aliquam repellat quae aperiam sit!</p>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <img src="{% static 'home/images/user-3.png' %}" alt="">
            <h3>Mark Atto</h3>
        </div>

    </div>
</div>
</div>

<!-- ------------------brands-------------- -->
<div class="brands">
<div class="small-container">
    <div class="row">
        <div class="col-5">
            <img src="{% static 'home/images/logo-godrej.png' %}" alt="">

        </div>
        <div class="col-5">
            <img src="{% static 'home/images/logo-oppo.png' %}" alt="">

        </div>
        <div class="col-5">
            <img src="{% static 'home/images/logo-coca-cola.png' %}" alt="">

        </div>
        <div class="col-5">
            <img src="{% static 'home/images/logo-paypal.png' %}" alt="">

        </div>
        <div class="col-5">
            <img src="{% static 'home/images/logo-philips.png' %}" alt="">

        </div>
    </div>
</div>
</div>
{% endblock body %}