{% extends 'admin_base/admin_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="bg-light rounded h-100 p-4">
    {% if updated %}
        <form method='POST'> {% csrf_token %}
            <div class="row">
                <div class="col ">
                    <label for="exampleInputEmail1" class="form-label">Sub-Category Name</label>
                    {{form.subcategory_name | add_class:"form-control"}}
                </div>
                <div class="col mb-3">
                    <label for="exampleInputEmail1" class="form-label">Category</label>
                    {{form.category| add_class:"form-select"}}
                </div>
            </div>
            <div class="mb-3">
                <a class="btn btn-success" href="{% url 'products:add_subCategory' %}" role="button"> <i class="fa-solid fa-arrow-left me-2"></i> Back</a>
                <button type="submit" class="btn btn-primary">Save</button>
                
            </div>
            
        </form>

    {% elif deleted %}
    <div id="">
        <div class="bg-light rounded h-100 p-4">
          <h6 class="mb-4">Delete Product Category</h6>
          <table class="table table-striped table-hover ">
              <thead class="table-dark">
                  <tr>
                    <th scope="col">Sl</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Category Location</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody> 
                  {% if object %} 
                  
                      <tr>
                          <th scope="row">1</th>
                          <td> {{object.subcategory_name}} </td>
                          <td> {{object.category}} </td>
                          <td> {{object.created_at}} </td>
                          <td>
                              <div id="deleteForm">
                                  <form action="" method='POST'> {% csrf_token %}
                                      <a class="btn btn-success" href="{% url 'products:add_subCategory'  %}" role="button"> <i class="fa-solid fa-arrow-left me-2"></i> Back</a>
                                      <button class="btn btn-danger" type='submit' id="deleteTask"><i class="fa-solid fa-trash px-2"></i>Delete</button>
                                  </form>
                              </div>
                          </td>
                        </tr>
                  {% endif %}     
            </table>
      </div>
    </div>
    
    {% else %}
    <div class="row">
        <div class="col-md-4">
            <h6 class="mb-4">Product Sub-Category List</h6>
        </div>
        <div class="col-md-4 offset-md-4 d-flex flex-row-reverse mb-2">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
               Add Sub-Category
              </button>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 mb-4">
        <form class="d-flex">
          <div class="row">
              <div class="col">
                  {{subcategories.form.subcategory_name | add_class:"form-control"}}
              </div>
              <div class="col">
                  {{subcategories.form.category | add_class:"form-select"}}
              </div>
              <div class="col">
                  <button class="btn btn-outline-success ms-2" type="submit">Search</button>
              </div>
            </div>
        </form>
      </div>
    
    <table class="table table-striped table-hover ">
        <thead class="table-dark">
            <tr>
              <th scope="col">Sl</th>
              <th scope="col">Sub-Category Name</th>
              <th scope="col">Category</th>
              <th scope="col">Created At</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody> 
            {% if subcategories %} 
                {% for category in subcategories.qs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> {{category.subcategory_name}} </td>
                    <td> {{category.category}} </td>
                    <td> {{category.created_at}} </td>
                    <td>
                        <a class="btn btn-success btn-sm" href="{% url 'products:update_subCategory' category.id %}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-danger btn-sm" href="{% url 'products:delete_subCategory' category.id %}" role="button"><i class="fa-solid fa-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}     
            {% endif %}     
      </table>
</div>
{% endif %}
    

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Sub-Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST"> {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label"> Sub-Category Name </label>
                        {{form.subcategory_name |add_class:"form-control"}}
                    </div>
                    <div class="col">
                      <label for="exampleInputEmail1" class="form-label">Category Location</label>
                        {{form.category|add_class:"form-select"}}
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-primary">Save</button>
        </div>
    </form>
      </div>
    </div>
  </div>

  <script>
    var deleteTask = document.getElementById("deleteTask");
    var deleteForm = document.getElementById("deleteForm");

    deleteTask.addEventListener("click", function(event) {
    var result = confirm("Are you sure you want to Delete?");
    if (result) {
        alert('Deleted successfully');
    } else {
        alert('Deletion Cancelled');
        event.preventDefault(); // prevent default form submission
    }
    });

    deleteForm.addEventListener("submit", function(event) {
    {% comment %} event.preventDefault(); // prevent default form submission {% endcomment %}
    });

  </script>
 
          



{% endblock body %}